@charset "UTF-8";
/* Color theme */
/* Mixin */
/* Font */
/* noto-sans-kr-300 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/noto-sans-kr-v12-latin_korean-300.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans KR Light"), local("NotoSansKR-Light"), url("../fonts/noto-sans-kr-v12-latin_korean-300.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-kr-v12-latin_korean-300.woff2") format("woff2"), url("../fonts/noto-sans-kr-v12-latin_korean-300.woff") format("woff"), url("../fonts/noto-sans-kr-v12-latin_korean-300.ttf") format("truetype"), url("../fonts/noto-sans-kr-v12-latin_korean-300.svg#NotoSansKR") format("svg");
  /* Legacy iOS */
}

/* noto-sans-kr-regular - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-kr-v12-latin_korean-regular.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans KR Regular"), local("NotoSansKR-Regular"), url("../fonts/noto-sans-kr-v12-latin_korean-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-kr-v12-latin_korean-regular.woff2") format("woff2"), url("../fonts/noto-sans-kr-v12-latin_korean-regular.woff") format("woff"), url("../fonts/noto-sans-kr-v12-latin_korean-regular.ttf") format("truetype"), url("../fonts/noto-sans-kr-v12-latin_korean-regular.svg#NotoSansKR") format("svg");
  /* Legacy iOS */
}

/* noto-sans-kr-500 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: bold;
  font-weight: 500;
  src: url("../fonts/noto-sans-kr-v12-latin_korean-500.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans KR Medium"), local("NotoSansKR-Medium"), url("../fonts/noto-sans-kr-v12-latin_korean-500.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-kr-v12-latin_korean-500.woff2") format("woff2"), url("../fonts/noto-sans-kr-v12-latin_korean-500.woff") format("woff"), url("../fonts/noto-sans-kr-v12-latin_korean-500.ttf") format("truetype"), url("../fonts/noto-sans-kr-v12-latin_korean-500.svg#NotoSansKR") format("svg");
  /* Legacy iOS */
}

/* noto-sans-kr-700 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/noto-sans-kr-v12-latin_korean-700.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans KR Bold"), local("NotoSansKR-Bold"), url("../fonts/noto-sans-kr-v12-latin_korean-700.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-kr-v12-latin_korean-700.woff2") format("woff2"), url("../fonts/noto-sans-kr-v12-latin_korean-700.woff") format("woff"), url("../fonts/noto-sans-kr-v12-latin_korean-700.ttf") format("truetype"), url("../fonts/noto-sans-kr-v12-latin_korean-700.svg#NotoSansKR") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NanumSquareR.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NanumSquareR.eot?#iefix") format("embedded-opentype"), local("NanumSquareR"), url("../fonts/NanumSquareR.woff") format("woff"), url("../fonts/NanumSquareR.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url("../fonts/NanumSquareB.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NanumSquareB.eot?#iefix") format("embedded-opentype"), local("NanumSquareB"), url("../fonts/NanumSquareB.woff") format("woff"), url("../fonts/NanumSquareB.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'NanumSquare';
  font-style: bold;
  font-weight: 800;
  src: url("../fonts/NanumSquareEB.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NanumSquareEB.eot?#iefix") format("embedded-opentype"), local("NanumSquareEB"), url("../fonts/NanumSquareEB.woff") format("woff"), url("../fonts/NanumSquareEB.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/* input style */
.inputbox {
  margin-top: 10px;
}

.inputbox__checkbox {
  display: inline-block;
}

.inputbox__checkbox input[type='checkbox'] {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  left: -9999px;
  outline: 0;
}

.inputbox__checkbox input[type='checkbox'] + label {
  position: relative;
  display: block;
  padding-left: 22px;
  font-size: 15px;
}

.inputbox__checkbox input[type='checkbox'] + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 17px;
  height: 18px;
  background: url(../images/checkbox.png) no-repeat left 1px;
  background-size: 17px auto;
}

.inputbox__checkbox input[type='checkbox']:checked + label:before {
  background: url(../images/checkbox_on.png) no-repeat left 1px;
  background-size: 17px auto;
}

.inputbox__checkbox input[type='checkbox'] + label span {
  color: #222222;
  font-size: 15px;
}

.inputbox .inputbox__checkbox + .inputbox__checkbox {
  margin-left: 40px;
}

/* buttons */
.button {
  margin-top: 10px;
}

.button .btn {
  display: inline-block;
  min-width: 85px;
  height: 40px;
  padding: 0 20px;
  line-height: 39px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.button .btn--primary {
  background: #0064b0;
  border-color: #0064b0;
  color: #ffffff;
}

.button .btn--primary:hover {
  background: #005ea5;
  border-color: #005ea5;
}

.button .btn--secondary {
  background: #ffffff;
  border-color: #6e8699;
  color: #6e8699;
}

.button .btn--secondary:hover {
  background: #6e8699;
  border-color: #6e8699;
  color: #ffffff;
}

.button .btn + .btn {
  margin-left: 15px;
}

.blind {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  display: block;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  font-size: 1px;
  line-height: 0;
}

.ir {
  text-indent: -999em;
}

.align--right {
  text-align: right;
}

.align--left {
  text-align: left;
}

.align--center {
  text-align: center;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/* table + input */
.table_type1 tbody {
  width: 100%;
  border-top: 1px solid #dae0e4;
}

.table_type1 tr {
  border-bottom: 1px solid #dae0e4;
}

.table_type1 th {
  padding: 0px 15px 0;
  min-height: 74px;
  text-align: left;
  vertical-align: middle;
  color: #5b5c61;
  background: #f1f4f6;
}

.table_type1 td {
  display: block;
  padding: 14px 0 14px 17px;
  min-height: 74px;
}

.input__wrap {
  min-height: 44px;
  line-height: 44px;
}

.input__wrap input[type='text'], .input__wrap input[type='password'], .input__wrap select {
  display: inline-block;
  padding: 0 10px;
  width: 252px;
  height: 44px;
  border: 1px solid #c9cdd3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #5b5c61;
}

.input__wrap input[type='text'] + .btn, .input__wrap input[type='password'] + .btn, .input__wrap select + .btn {
  margin-left: 5px;
}

.input__wrap .btn {
  display: inline-block;
  min-width: 85px;
  height: 44px;
  padding: 0 20px;
  line-height: 44px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
}

.input__wrap .type1 {
  display: inline-block;
  color: #ffffff;
  background: #0064b0;
}

.input__wrap .refer {
  display: inline-block;
  margin-left: 5px;
  font-size: 13px;
  color: #b7bbc5;
  letter-spacing: -0.005em;
}

.input__wrap input[type='password'].match {
  border: 1px solid #5fb8a0;
}

.input__wrap .match + .refer {
  color: #5fb8a0;
}

.input__wrap input[type='password'].discor {
  position: relative;
  padding-right: 20px;
  border: 1px solid #f6697f;
}

.input__wrap .discor + .refer {
  color: #f6697f;
}

.input__wrap .rdibox input[type=radio] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.input__wrap .rdibox input[type=radio] + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  min-height: 30px;
  line-height: 30px;
  background: url("/images/radio.png") no-repeat;
  cursor: pointer;
  font-size: 16px;
  color: #666666;
}

.input__wrap .rdibox input[type=radio].design + label {
  padding-left: 30px;
  min-height: 20px;
  line-height: 20px;
  background: url("/convention/html/bing/images/common/ico_radio02_off.png") no-repeat;
  color: #222222;
}

.input__wrap .rdibox .checked input[type=radio] + label {
  background: url("/convention/html/bing/images/common/ico_radio_on.png") no-repeat;
  color: #ec1d25;
  font-weight: 500;
}

.input__wrap .rdibox .checked input[type=radio].design + label {
  background: url("/convention/html/bing/images/common/ico_radio02_on.png") no-repeat;
  color: #222222;
  font-weight: 300;
}

.input__wrap .rdibox .radio_area + .radio_area {
  margin-left: 20px;
}

.input__wrap .inputbox__checkbox + .inputbox__checkbox {
  margin-left: 40px;
}

/* pagenation */
.pagenation {
  margin-top: 15px;
  text-align: center;
}

.pagenation > a {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-indent: -9999em;
}

.pagenation .first:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 30px;
  content: '';
  background: url(/images/first.png) center 5px no-repeat;
}

.pagenation .prev:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 30px;
  content: '';
  background: url(/images/prev.png) center 5px no-repeat;
}

.pagenation .next:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 30px;
  content: '';
  background: url(/images/next.png) center 5px no-repeat;
}

.pagenation .last:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 30px;
  content: '';
  background: url(/images/last.png) center 5px no-repeat;
}

.pagenation ol {
  display: inline-block;
  text-align: center;
}

.pagenation ol li {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.pagenation ol li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 30px;
  color: #cecece;
}

.pagenation ol li a.view {
  color: #ffffff;
  background: #1b7dc8;
  border-radius: 50%;
}

.pagenation ol li a:hover {
  color: #1b7dc8;
}

.layerpopup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 400px;
  z-index: 500;
  background: #ffffff;
  border-radius: 4px;
  /* ie 기본 화살표 없앰 */
}

.layerpopup__top {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 39px;
  background: #283139;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.layerpopup__top h4 {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}

.layerpopup__top .popup__close {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  right: 15px;
  top: 14px;
  text-indent: -999em;
  background: url(/images/close.png) center top no-repeat;
}

.layerpopup__top .popup__close:after {
  display: block;
  width: 12px;
  height: 12px;
  content: '';
}

.layerpopup__content {
  padding: 20px;
}

.layerpopup .item {
  margin-bottom: 20px;
}

.layerpopup .input__form .form_tit {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.layerpopup .input__form .bullet:before {
  content: '*';
  display: inline-block;
  margin-right: 5px;
  color: #e52121;
  vertical-align: middle;
}

.layerpopup .input__form input[type='text'], .layerpopup .input__form input[type='password'], .layerpopup .input__form select {
  padding: 0 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #c9cdd3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #222222;
}

.layerpopup .input__form input[type='text']:disabled {
  background: #EEF3F5;
  color: #BEC1C7;
}

.layerpopup .input__form.col2 {
  width: calc(50% - 8px);
  margin-right: 6px;
  display: inline-block;
}

.layerpopup .etc_inp button + input {
  margin-top: 5px;
}

.layerpopup .etc_inp input + input {
  margin-top: 5px;
}

.layerpopup .etc_inp .postnum {
  width: 120px !important;
}

.layerpopup .etc_inp .search {
  display: inline-block;
  margin-left: 5px;
  height: 40px;
  padding: 0 10px;
  background: #0064b0;
  color: #ffffff;
}

.layerpopup .input__form {
  display: inline-block;
  position: relative;
}

.layerpopup .input__form input[type='checkbox'],
.layerpopup .input__form input[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  -webkit-appearance: none;
  clip: rect(0, 0, 0, 0);
}

.layerpopup .input__form input[type='checkbox'] + label {
  display: inline-block;
  height: 40px;
  line-height: 39px;
  padding: 0 0 0 25px;
  font-size: 15px;
  background: url(../images/checkbox.png) no-repeat left center;
  cursor: pointer;
}

.layerpopup .input__form input[type='checkbox']:checked + label {
  background: url(../images/checkbox_on.png) no-repeat left center;
}

.layerpopup .input__form input[type='radio'] + label {
  display: inline-block;
  height: 40px;
  line-height: 21px;
  padding: 0 0 0 25px;
  font-size: 15px;
  background: url(../images/radio.png) no-repeat left center;
  cursor: pointer;
}

.layerpopup .input__form input[type='radio']:checked + label {
  background: url(../images/radio_on.png) no-repeat left center;
}

.layerpopup .input__form input[type='text'], .layerpopup .input__form input[type='password'] {
  height: 40px;
  line-height: 26px;
  padding: 0 3px;
  font-size: 15px;
  color: #333333;
}

.layerpopup .input__form input[type='text'] {
  width: 100%;
}

.layerpopup .input__form select {
  width: 100%;
  min-width: 120px;
  height: 40px;
  margin: 0;
  padding: 5px 25px 6px 10px;
  border: 1px solid #c9cdd3;
  background: url(../images/select_bg.gif) 100% 50% no-repeat;
  background-color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  word-wrap: break-word;
  z-index: 10;
}

.layerpopup .input__form select::-ms-expand {
  display: none;
}

.layerpopup.style1 {
  width: 600px;
  background: #f9fbfc;
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  opacity: 0.2;
  z-index: 199;
}

.right .item {
  margin-bottom: 20px;
}

.right .input__form .form_tit {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.right .input__form .bullet:before {
  content: '*';
  display: inline-block;
  margin-right: 5px;
  color: #e52121;
  vertical-align: middle;
}

.right .input__form input[type='text'], .right .input__form input[type='password'], .right .input__form select {
  padding: 0 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #c9cdd3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #222222;
}

.right .input__form input[type='text']:disabled {
  background: #EEF3F5;
  color: #BEC1C7;
}

.right .input__form.col2 {
  width: calc(50% - 8px);
  margin-right: 6px;
  display: inline-block;
}

.right .input__form.col3 {
  width: calc(25% - 8px);
  margin-right: 6px;
  display: inline-block;
}

.right .etc_inp button + input {
  margin-top: 5px;
}

.right .etc_inp input + input {
  margin-top: 5px;
}

.right .etc_inp .postnum {
  width: 120px !important;
}

.right .etc_inp .search {
  display: inline-block;
  margin-left: 5px;
  height: 40px;
  padding: 0 10px;
  background: #0064b0;
  color: #ffffff;
}

.right .input__form {
  display: inline-block;
  position: relative;
}

.right .input__form input[type='checkbox'],
.right .input__form input[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  -webkit-appearance: none;
  clip: rect(0, 0, 0, 0);
}

.right .input__form input[type='checkbox'] + label {
  display: inline-block;
  height: 40px;
  line-height: 39px;
  padding: 0 0 0 25px;
  font-size: 15px;
  background: url(../images/checkbox.png) no-repeat left center;
  cursor: pointer;
}

.right .input__form input[type='checkbox']:checked + label {
  background: url(../images/checkbox_on.png) no-repeat left center;
}

.right .input__form input[type='radio'] + label {
  display: inline-block;
  height: 40px;
  line-height: 21px;
  padding: 0 0 0 25px;
  font-size: 15px;
  background: url(../images/radio.png) no-repeat left center;
  cursor: pointer;
}

.right .input__form input[type='radio']:checked + label {
  background: url(../images/radio_on.png) no-repeat left center;
}

.right .input__form input[type='text'], .right .input__form input[type='password'] {
  height: 40px;
  line-height: 26px;
  padding: 0 3px;
  font-size: 15px;
  color: #333333;
}

.right .input__form input[type='text'] {
  width: 100%;
}

.right .input__form select {
  width: 100%;
  min-width: 120px;
  height: 40px;
  margin: 0;
  padding: 5px 25px 6px 10px;
  border: 1px solid #c9cdd3;
  background: url(../images/select_bg.gif) 100% 50% no-repeat;
  background-color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  word-wrap: break-word;
  z-index: 10;
}

.right .input__form select::-ms-expand {
  display: none;
}

.right .item.searchbox .input__form + .input__form {
  margin-left: 20px;
}

.right .item.searchbox .input__form .form_tit {
  display: inline-block;
  margin-right: 10px;
  font-weight: 700;
}

.right .item.searchbox .input__form input[type='text'] {
  width: 240px;
}

.right .item.searchbox .input__form select {
  width: 240px;
}

.right .item.searchbox .btn__search {
  display: inline-block;
  min-width: 80px;
  height: 40px;
  line-height: 39px;
  text-align: center;
  color: #ffffff;
  background: #0064b0;
}

.right .item.searchbox .input__form + .btn__search {
  margin-left: 8px;
}
/*# sourceMappingURL=common.css.map */