/* Color theme */
/* Mixin */
/* Font */
/* noto-sans-kr-300 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/noto-sans-kr-v12-latin_korean-300.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans KR Light"), local("NotoSansKR-Light"), url("../fonts/noto-sans-kr-v12-latin_korean-300.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-kr-v12-latin_korean-300.woff2") format("woff2"), url("../fonts/noto-sans-kr-v12-latin_korean-300.woff") format("woff"), url("../fonts/noto-sans-kr-v12-latin_korean-300.ttf") format("truetype"), url("../fonts/noto-sans-kr-v12-latin_korean-300.svg#NotoSansKR") format("svg");
  /* Legacy iOS */
}

/* noto-sans-kr-regular - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-kr-v12-latin_korean-regular.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans KR Regular"), local("NotoSansKR-Regular"), url("../fonts/noto-sans-kr-v12-latin_korean-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-kr-v12-latin_korean-regular.woff2") format("woff2"), url("../fonts/noto-sans-kr-v12-latin_korean-regular.woff") format("woff"), url("../fonts/noto-sans-kr-v12-latin_korean-regular.ttf") format("truetype"), url("../fonts/noto-sans-kr-v12-latin_korean-regular.svg#NotoSansKR") format("svg");
  /* Legacy iOS */
}

/* noto-sans-kr-500 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: bold;
  font-weight: 500;
  src: url("../fonts/noto-sans-kr-v12-latin_korean-500.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans KR Medium"), local("NotoSansKR-Medium"), url("../fonts/noto-sans-kr-v12-latin_korean-500.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-kr-v12-latin_korean-500.woff2") format("woff2"), url("../fonts/noto-sans-kr-v12-latin_korean-500.woff") format("woff"), url("../fonts/noto-sans-kr-v12-latin_korean-500.ttf") format("truetype"), url("../fonts/noto-sans-kr-v12-latin_korean-500.svg#NotoSansKR") format("svg");
  /* Legacy iOS */
}

/* noto-sans-kr-700 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/noto-sans-kr-v12-latin_korean-700.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans KR Bold"), local("NotoSansKR-Bold"), url("../fonts/noto-sans-kr-v12-latin_korean-700.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-kr-v12-latin_korean-700.woff2") format("woff2"), url("../fonts/noto-sans-kr-v12-latin_korean-700.woff") format("woff"), url("../fonts/noto-sans-kr-v12-latin_korean-700.ttf") format("truetype"), url("../fonts/noto-sans-kr-v12-latin_korean-700.svg#NotoSansKR") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NanumSquareR.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NanumSquareR.eot?#iefix") format("embedded-opentype"), local("NanumSquareR"), url("../fonts/NanumSquareR.woff") format("woff"), url("../fonts/NanumSquareR.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url("../fonts/NanumSquareB.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NanumSquareB.eot?#iefix") format("embedded-opentype"), local("NanumSquareB"), url("../fonts/NanumSquareB.woff") format("woff"), url("../fonts/NanumSquareB.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'NanumSquare';
  font-style: bold;
  font-weight: 800;
  src: url("../fonts/NanumSquareEB.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NanumSquareEB.eot?#iefix") format("embedded-opentype"), local("NanumSquareEB"), url("../fonts/NanumSquareEB.woff") format("woff"), url("../fonts/NanumSquareEB.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/* input style */
.inputbox {
  margin-top: 10px;
}

.inputbox__checkbox {
  display: inline-block;
}

.inputbox__checkbox input[type='checkbox'] {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  left: -9999px;
  outline: 0;
}

.inputbox__checkbox input[type='checkbox'] + label {
  position: relative;
  display: block;
  padding-left: 22px;
  font-size: 15px;
}

.inputbox__checkbox input[type='checkbox'] + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 17px;
  height: 18px;
  background: url(../images/checkbox.png) no-repeat left 1px;
  background-size: 17px auto;
}

.inputbox__checkbox input[type='checkbox']:checked + label:before {
  background: url(../images/checkbox_on.png) no-repeat left 1px;
  background-size: 17px auto;
}

.inputbox__checkbox input[type='checkbox'] + label span {
  color: #222222;
  font-size: 15px;
}

.inputbox .inputbox__checkbox + .inputbox__checkbox {
  margin-left: 40px;
}

/* buttons */
.button {
  margin-top: 10px;
}

.button .btn {
  display: inline-block;
  min-width: 85px;
  height: 40px;
  padding: 0 20px;
  line-height: 39px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.button .btn--primary {
  background: #0064b0;
  border-color: #0064b0;
  color: #ffffff;
}

.button .btn--primary:hover {
  background: #005ea5;
  border-color: #005ea5;
}

.button .btn--secondary {
  background: #ffffff;
  border-color: #6E8699;
  color: #6E8699;
}

.button .btn--secondary:hover {
  background: #6E8699;
  border-color: #6E8699;
  color: #ffffff;
}

.button .btn + .btn {
  margin-left: 15px;
}

.align--right {
  text-align: right;
}

.align--left {
  text-align: left;
}

.align--center {
  text-align: center;
}
/*# sourceMappingURL=common.css.map */