@charset "UTF-8";
/* Color theme */
/* Mixin */
body {
  background: #f9fafc;
}

/* 로그인화면 */
.login__wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 1600px;
  min-height: 900px;
  background: url(../images/login_bg.png) no-repeat;
  background-size: cover;
}

.login__wrap .loginbox {
  position: absolute;
  right: 10%;
  top: 50%;
  margin-top: -250px;
  width: 460px;
  color: #ffffff;
}

.login__wrap .loginbox__logo {
  text-align: center;
  margin-bottom: 60px;
}

.login__wrap .loginbox .btn_login {
  display: block;
  width: 100%;
  height: 60px;
  margin-top: 30px;
  line-height: 60px;
  border-radius: 4px;
  background: #0064b0;
}

.login__wrap .loginbox .btn_login:hover {
  background: #005ea5;
}

.login__wrap .loginbox .btn_login input {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  background: none;
  font-size: 20px;
  color: #ffffff;
}

.login__wrap .loginbox__ipt {
  padding: 15px 0;
  border-bottom: 1px solid #8e999e;
}

.login__wrap .loginbox__ipt label {
  display: inline-block;
  width: 100px;
  font-size: 18px;
  font-weight: 500;
}

.login__wrap .loginbox__ipt input {
  background: none;
  color: #ffffff;
  font-size: 18px;
}

.login__wrap .loginbox .inputbox__checkbox label span {
  color: #aaaaab;
}

.login__wrap .loginbox__info {
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
}

.login__wrap .loginbox__info .link_find {
  display: inline-block;
  color: #6b727e;
}

.login__wrap .loginbox__info a {
  display: inline-block;
  position: relative;
}

.login__wrap .loginbox__info a + a {
  margin-left: 12px;
  padding-left: 12px;
}

.login__wrap .loginbox__info a + a:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -5.5px;
  width: 1px;
  height: 11px;
  background-color: #6b727e;
}

.wrap {
  width: 100%;
  overflow: hidden;
  min-width: 1900px;
  background: url(../images/left_bg.png) left top repeat-y;
}

.wrap .header {
  position: relative;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #0064b0;
  background: #ffffff;
}

.wrap .header__logo {
  float: left;
  width: 300px;
  height: 80px;
  padding-top: 5px;
  padding-left: 10px;
  background: #283139;
  text-align: left;
  line-height: 80px;
  border-bottom: 1px solid #0064b0;
}

.wrap .header__logo a {
  display: block;
}

.wrap .header__logo a img {
  vertical-align: baseline;
}

.wrap .header__nav {
  float: left;
}

.wrap .header__nav li {
  position: relative;
  float: left;
  margin-left: 70px;
  line-height: 80px;
}

.wrap .header__nav li a {
  font-family: 'NanumSquare','맑은 고딕','malgun gothic', dotum, '돋움', Sans-Serif;
  font-weight: 700;
  font-size: 20px;
  color: #354048;
}

.wrap .header__nav li a:hover {
  color: #0064b0;
}

.wrap .header__nav li.active a {
  color: #0064b0;
}

.wrap .header__nav li.active:after {
  position: absolute;
  bottom: 0;
  left: 40%;
  content: '';
  width: 0px;
  height: 0px;
  border-top: 10px solid none;
  border-bottom: 10px solid #0064b0;
  border-right: 10px solid transparent;
  border-left: 10px solid  transparent;
}

.wrap .header__quick {
  position: absolute;
  top: 0px;
  right: 30px;
  line-height: 80px;
}

.wrap .header__quick li {
  float: left;
}

.wrap .header__quick li a {
  font-size: 20px;
  font-weight: 500;
  color: #686868;
}

.wrap .header__quick li a.active {
  color: #0064b0;
}

.wrap .header__quick li + li {
  margin-left: 30px;
}

.wrap .header__monitoring .normal:before {
  content: '';
  padding-left: 35px;
  width: 40px;
  height: 40px;
  background: url(../images/monitoring.png) left 5px no-repeat;
}

.wrap .header__setting .normal:before {
  content: '';
  padding-left: 35px;
  width: 40px;
  height: 40px;
  background: url(../images/setting.png) left 2px no-repeat;
}

.wrap .header__logout .normal:before {
  content: '';
  padding-left: 35px;
  width: 40px;
  height: 40px;
  background: url(../images/exit.png) left 2px no-repeat;
}

.wrap .header__monitoring .active:before {
  content: '';
  padding-left: 35px;
  width: 40px;
  height: 40px;
  background: url(../images/mornitoring_on.png) left 5px no-repeat;
}

.wrap .header__setting .active:before {
  content: '';
  padding-left: 35px;
  width: 40px;
  height: 40px;
  background: url(../images/setting_on.png) left 2px no-repeat;
}

.wrap .left {
  float: left;
  width: 300px;
  height: calc(100vh - 80px);
  padding: 20px 0 0 25px;
  background: #283139;
  font-family: 'NanumSquare','맑은 고딕','malgun gothic', dotum, '돋움', Sans-Serif;
}

.wrap .left__title {
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: 700;
  color: #1b7dc8;
}

.wrap .left__2depth {
  font-size: 17px;
  line-height: 40px;
}

.wrap .left__2depth a {
  color: #b1bdc5;
}

.wrap .left__2depth li {
  position: relative;
  padding-left: 20px;
}

.wrap .left__2depth li:hover {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #f9fafc;
}

.wrap .left__2depth li:hover a {
  color: #283139;
  font-weight: 700;
}

.wrap .left__2depth li.on {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #f9fafc;
}

.wrap .left__2depth li.on a {
  color: #283139;
  font-weight: 700;
}

.wrap .left__2depth li.on:after {
  position: absolute;
  top: 0;
  right: 20px;
  width: 10px;
  height: 40px;
  content: '';
  background: url(../images/menu_arrow.png) center 13px no-repeat;
}

.wrap .right {
  float: left;
  width: 1200px;
  padding: 24px;
}

.wrap .right__content {
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 24px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid #E7ECF0;
}

.wrap .right__title {
  width: 100%;
  margin-bottom: 20px;
  font-family: 'NanumSquare','맑은 고딕','malgun gothic', dotum, '돋움', Sans-Serif;
  font-size: 22px;
  font-weight: 700;
  color: #283139;
}

.wrap .right__titledesc {
  margin-left: 10px;
  color: #B1BDC5;
  vertical-align: bottom;
  font-family: 'Noto Sans KR','맑은 고딕','malgun gothic', dotum, '돋움', Sans-Serif;
  font-size: 15px;
  font-weight: normal;
}

.wrap .right__titledesc:before {
  display: inline-block;
  content: '';
  padding-left: 1px;
  margin-right: 5px;
  height: 13px;
  width: 1px;
  background: #D0D6DB;
}

.wrap .right .agreement {
  margin-bottom: 30px;
}

.wrap .right .agreement__title {
  width: 100%;
  padding: 15px;
  background: #283139;
  color: #ffffff;
  font-size: 16px;
}

.wrap .right .agreement__text {
  height: 250px;
  overflow-y: scroll;
  padding: 15px;
  border: 1px solid #EAECF1;
}

.wrap .right .complate {
  margin: 40px 0;
}

.wrap .right .complate .compmessage {
  margin-top: 30px;
  font-size: 22px;
  margin-bottom: 15px;
}

.wrap .right .complate .compmessage span {
  font-weight: 700;
  color: #0064b0;
}

.wrap .right .findinfo {
  padding: 30px 0;
}

.wrap .right .findinfo > span {
  display: inline-block;
  padding: 30px;
}

.wrap .right .findinfo label {
  display: inline-block;
  width: 100px;
  text-align: left;
}

.wrap .right .row2 {
  width: 100%;
  padding: 20px 0;
  background: #f1f4f6;
}

.wrap .right .tablewrap table {
  border-top: 2px solid #5b5c61;
}

.wrap .right .tablewrap tbody {
  width: 100%;
  border-top: 1px solid #dae0e4;
}

.wrap .right .tablewrap tr {
  border-bottom: 1px solid #dae0e4;
}

.wrap .right .tablewrap tr:hover td {
  background: #F9FBFC;
}

.wrap .right .tablewrap th {
  padding: 8px 10px;
  text-align: center;
  vertical-align: middle;
  color: #5b5c61;
  background: #f1f4f6;
}

.wrap .right .tablewrap td {
  text-align: center;
  padding: 8px 10px;
  color: #6b6c70;
}

.wrap .right .tablewrap td .popup {
  color: #1b7dc8;
  text-decoration: underline;
}

.wrap .right .tablewrap td .use {
  color: #5FB8A0;
}

.wrap .right .tablewrap td .useno {
  color: #F6697F;
}

.wrap .right .tablewrap .button {
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 10px;
}

.wrap .right .tablewrap .input__form input[type='checkbox'] + label {
  display: inline-block;
  height: 30px;
  line-height: 39px;
  padding: 0 0 0 18px;
  font-size: 15px;
  background: url(../images/checkbox.png) no-repeat left center;
  cursor: pointer;
}

.wrap .right .tablewrap .input__form input[type='checkbox']:checked + label {
  background: url(../images/checkbox_on.png) no-repeat left center;
}

.input__wrap + .input__wrap {
  margin-top: 10px;
}
/*# sourceMappingURL=layout.css.map */