@charset 'utf-8';
/* Color theme */
$primaryColor:#0064b0;
$primaryHover:#005ea5;
$darkBg:#283139;
$topMenuNormal:#354048;
$topMenuHover:#0064b0;
$leftTitle:#1b7dc8;
$leftNormal:#b1bdc5;
$leftSelect:#283139;
$bodyBg:#f9fafc;
$contentBorder:#E7ECF0;
$titleDesc: #B1BDC5;
$secondaryColor: #6E8699;

/* Mixin */
@mixin boxRound4 {
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
@mixin boxRound8 {
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
}

/* Font */
/* noto-sans-kr-300 - latin_korean */
@font-face {
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:300;
  src:url('../fonts/noto-sans-kr-v12-latin_korean-300.eot'); /* IE9 Compat Modes */
  src:local('Noto Sans KR Light'), local('NotoSansKR-Light'),
  url('../fonts/noto-sans-kr-v12-latin_korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-kr-v12-latin_korean-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-kr-v12-latin_korean-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-kr-v12-latin_korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-kr-v12-latin_korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-regular - latin_korean */
@font-face {
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:400;
  src:url('../fonts/noto-sans-kr-v12-latin_korean-regular.eot'); /* IE9 Compat Modes */
  src:local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
  url('../fonts/noto-sans-kr-v12-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-kr-v12-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-kr-v12-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-kr-v12-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-kr-v12-latin_korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - latin_korean */
@font-face {
  font-family:'Noto Sans KR';
  font-style:bold;
  font-weight:500;
  src:url('../fonts/noto-sans-kr-v12-latin_korean-500.eot'); /* IE9 Compat Modes */
  src:local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
  url('../fonts/noto-sans-kr-v12-latin_korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-kr-v12-latin_korean-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-kr-v12-latin_korean-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-kr-v12-latin_korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-kr-v12-latin_korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - latin_korean */
@font-face {
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:700;
  src:url('../fonts/noto-sans-kr-v12-latin_korean-700.eot'); /* IE9 Compat Modes */
  src:local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
  url('../fonts/noto-sans-kr-v12-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-kr-v12-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-kr-v12-latin_korean-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-kr-v12-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-kr-v12-latin_korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family:'NanumSquare';
  font-style:normal;
  font-weight:400;
  src:url('../fonts/NanumSquareR.eot'); /* IE9 Compat Modes */
  src:url('../fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
  local('NanumSquareR'),
  url('../fonts/NanumSquareR.woff') format('woff'), /* Modern Browsers */
  url('../fonts/NanumSquareR.ttf') format('truetype'),; /* Safari, Android, iOS */
}
@font-face {
  font-family:'NanumSquare';
  font-weight:700;
  src:url('../fonts/NanumSquareB.eot'); /* IE9 Compat Modes */
  src:url('../fonts/NanumSquareB.eot?#iefix') format('embedded-opentype'),
  local('NanumSquareB'),
  url('../fonts/NanumSquareB.woff') format('woff'), /* Modern Browsers */
  url('../fonts/NanumSquareB.ttf') format('truetype'),; /* Safari, Android, iOS */
}
@font-face {
  font-family:'NanumSquare';
  font-style:bold;
  font-weight:800;
  src:url('../fonts/NanumSquareEB.eot'); /* IE9 Compat Modes */
  src:url('../fonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
  local('NanumSquareEB'),
  url('../fonts/NanumSquareEB.woff') format('woff'), /* Modern Browsers */
  url('../fonts/NanumSquareEB.ttf') format('truetype'),; /* Safari, Android, iOS */
}

/* input style */
.inputbox {
  margin-top:10px;
  &__checkbox {
    display:inline-block;
    input[type='checkbox'] {
      position:absolute;
      overflow:hidden;
      width:1px;
      height:1px;
      left:-9999px;
      outline:0;
    }
    input[type='checkbox']+label {
      position:relative;
      display:block;
      padding-left:22px;
      font-size:15px;
    }
    input[type='checkbox']+label:before {
      content:'';
      position:absolute;
      top:0px;
      left:0;
      width:17px;
      height:18px;
      background:url(../images/checkbox.png) no-repeat left 1px;
      background-size:17px auto;
    }
    input[type='checkbox']:checked+label:before {
      background:url(../images/checkbox_on.png) no-repeat left 1px;
      background-size:17px auto;
    }
    input[type='checkbox']+label span {
      color:#222222;
      font-size:15px;
    }
  }
  .inputbox__checkbox+.inputbox__checkbox {
    margin-left:40px;;
  }
}

/* buttons */
.button {
  margin-top: 10px;
  .btn {
    display: inline-block;
    min-width: 85px;
    height: 40px;
    padding: 0 20px;
    line-height: 39px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    @include boxRound4();
    &--primary {
      background: $primaryColor;
      border-color: $primaryColor;
      color: #ffffff;
      &:hover {
        background: $primaryHover;
        border-color:$primaryHover
      }
    }
    &--secondary {
      background: #ffffff;
      border-color: $secondaryColor;
      color: $secondaryColor;
      &:hover {
        background: $secondaryColor;
        border-color:$secondaryColor;
        color:#ffffff;
      }
    }
  }
  .btn + .btn {
    margin-left: 15px;
  }

}
.align--right {
  text-align: right;
}
.align--left {
  text-align: left;
}
.align--center {
  text-align: center;
}