@charset 'utf-8';
/* Color theme */
$primaryColor:#0064b0;
$primaryHover:#005ea5;
$darkBg:#283139;
$topMenuNormal:#354048;
$topMenuHover:#0064b0;
$leftTitle:#1b7dc8;
$leftNormal:#b1bdc5;
$leftSelect:#283139;
$bodyBg:#f9fafc;
$contentBorder:#e7ecf0;
$titleDesc:#b1bdc5;
$secondaryColor:#6e8699;
$textNormal:#5b5c61;
$referColor:#b7bbc5;
$pageNumber:#cecece;

/* Mixin */
@mixin boxRound4 {
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
@mixin boxRound8 {
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
}

/* Font */
/* noto-sans-kr-300 - latin_korean */
@font-face {
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:300;
  src:url('../fonts/noto-sans-kr-v12-latin_korean-300.eot'); /* IE9 Compat Modes */
  src:local('Noto Sans KR Light'), local('NotoSansKR-Light'),
  url('../fonts/noto-sans-kr-v12-latin_korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-kr-v12-latin_korean-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-kr-v12-latin_korean-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-kr-v12-latin_korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-kr-v12-latin_korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-regular - latin_korean */
@font-face {
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:400;
  src:url('../fonts/noto-sans-kr-v12-latin_korean-regular.eot'); /* IE9 Compat Modes */
  src:local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
  url('../fonts/noto-sans-kr-v12-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-kr-v12-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-kr-v12-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-kr-v12-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-kr-v12-latin_korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - latin_korean */
@font-face {
  font-family:'Noto Sans KR';
  font-style:bold;
  font-weight:500;
  src:url('../fonts/noto-sans-kr-v12-latin_korean-500.eot'); /* IE9 Compat Modes */
  src:local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
  url('../fonts/noto-sans-kr-v12-latin_korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-kr-v12-latin_korean-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-kr-v12-latin_korean-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-kr-v12-latin_korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-kr-v12-latin_korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - latin_korean */
@font-face {
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:700;
  src:url('../fonts/noto-sans-kr-v12-latin_korean-700.eot'); /* IE9 Compat Modes */
  src:local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
  url('../fonts/noto-sans-kr-v12-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-kr-v12-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-kr-v12-latin_korean-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-kr-v12-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-kr-v12-latin_korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family:'NanumSquare';
  font-style:normal;
  font-weight:400;
  src:url('../fonts/NanumSquareR.eot'); /* IE9 Compat Modes */
  src:url('../fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
  local('NanumSquareR'),
  url('../fonts/NanumSquareR.woff') format('woff'), /* Modern Browsers */
  url('../fonts/NanumSquareR.ttf') format('truetype'),; /* Safari, Android, iOS */
}
@font-face {
  font-family:'NanumSquare';
  font-weight:700;
  src:url('../fonts/NanumSquareB.eot'); /* IE9 Compat Modes */
  src:url('../fonts/NanumSquareB.eot?#iefix') format('embedded-opentype'),
  local('NanumSquareB'),
  url('../fonts/NanumSquareB.woff') format('woff'), /* Modern Browsers */
  url('../fonts/NanumSquareB.ttf') format('truetype'),; /* Safari, Android, iOS */
}
@font-face {
  font-family:'NanumSquare';
  font-style:bold;
  font-weight:800;
  src:url('../fonts/NanumSquareEB.eot'); /* IE9 Compat Modes */
  src:url('../fonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
  local('NanumSquareEB'),
  url('../fonts/NanumSquareEB.woff') format('woff'), /* Modern Browsers */
  url('../fonts/NanumSquareEB.ttf') format('truetype'),; /* Safari, Android, iOS */
}

/* input style */
.inputbox {
  margin-top:10px;
  &__checkbox {
    display:inline-block;
    input[type='checkbox'] {
      position:absolute;
      overflow:hidden;
      width:1px;
      height:1px;
      left:-9999px;
      outline:0;
    }
    input[type='checkbox']+label {
      position:relative;
      display:block;
      padding-left:22px;
      font-size:15px;
    }
    input[type='checkbox']+label:before {
      content:'';
      position:absolute;
      top:0px;
      left:0;
      width:17px;
      height:18px;
      background:url(../images/checkbox.png) no-repeat left 1px;
      background-size:17px auto;
    }
    input[type='checkbox']:checked+label:before {
      background:url(../images/checkbox_on.png) no-repeat left 1px;
      background-size:17px auto;
    }
    input[type='checkbox']+label span {
      color:#222222;
      font-size:15px;
    }
  }
  .inputbox__checkbox+.inputbox__checkbox {
    margin-left:40px;;
  }
}

/* buttons */
.button {
  margin-top:10px;
  .btn {
    display:inline-block;
    min-width:85px;
    height:40px;
    padding:0 20px;
    line-height:39px;
    text-align:center;
    border-width:1px;
    border-style:solid;
    @include boxRound4();
    &--primary {
      background:$primaryColor;
      border-color:$primaryColor;
      color:#ffffff;
      &:hover {
        background:$primaryHover;
        border-color:$primaryHover;
      }
    }
    &--secondary {
      background:#ffffff;
      border-color:$secondaryColor;
      color:$secondaryColor;
      &:hover {
        background:$secondaryColor;
        border-color:$secondaryColor;
        color:#ffffff;
      }
    }
  }
  .btn+.btn {
    margin-left:15px;
  }
}
.blind {
  clip:rect(0,0,0,0);
  overflow:hidden;
  display:block;
  width:1px;
  height:1px;
  margin:-1px;
  padding:0;
  border:0;
  font-size:1px;
  line-height:0;
}
.ir {
  text-indent:-999em;
}
.align--right {
  text-align:right;
}
.align--left {
  text-align:left;
}
.align--center {
  text-align:center;
}
.fl {
  float:left;
}
.fr {
  float:right;
}

.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}

/* table + input */
.table_type1 {
  tbody {
    width:100%;
    border-top:1px solid #dae0e4;
  }
  tr {
    border-bottom:1px solid #dae0e4;
  }
  th {
    padding:0px 15px 0;
    min-height:74px;
    text-align:left;
    vertical-align:middle;
    color:#5b5c61;
    background:#f1f4f6;
  }
  td {
    display:block;
    padding:14px 0 14px 17px;
    min-height:74px;
  }
}
.input__wrap {
  min-height:44px;
  line-height:44px;
  input[type='text'],input[type='password'],select {
    display:inline-block;
    padding:0 10px;
    width:252px;
    height:44px;
    border:1px solid #c9cdd3;
    box-sizing:border-box;
    color:$textNormal;
  }
  input[type='text']+.btn,input[type='password']+.btn,select+.btn {
    margin-left:5px;
  }
  .btn {
    display:inline-block;
    min-width:85px;
    height:44px;
    padding:0 20px;
    line-height:44px;
    text-align:center;
    border-width:1px;
    border-style:solid;
  }
  .type1 {
    display:inline-block;
    color:#ffffff;
    background:$primaryColor;
  }
  .refer {
    display:inline-block;
    margin-left:5px;;
    font-size:13px;
    color:$referColor;
    letter-spacing:-0.005em;
  }
  input[type='password'].match {
    border:1px solid #5fb8a0;
  }
  .match+.refer {
    color:#5fb8a0;
  }
  input[type='password'].discor {
    position:relative;
    padding-right:20px;
    border:1px solid #f6697f;
  }
  .discor+.refer {
    color:#f6697f;
  }
  .rdibox {
    input[type=radio] {
      border:0;
      clip:rect(0 0 0 0);
      height:1px;
      margin:-1px;
      overflow:hidden;
      padding:0;
      position:absolute;
      width:1px;
    }
    input[type=radio]+label {
      position:relative;
      display:inline-block;
      padding-left:40px;
      min-height:30px;
      line-height:30px;
      background:url('/images/radio.png') no-repeat;
      cursor:pointer;
      font-size:16px;
      color:#666666;
    }
    input[type=radio].design+label {
      padding-left:30px;
      min-height:20px;
      line-height:20px;
      background:url('/convention/html/bing/images/common/ico_radio02_off.png') no-repeat;
      color:#222222;
    }
    .checked input[type=radio]+label {
      background:url('/convention/html/bing/images/common/ico_radio_on.png') no-repeat;
      color:#ec1d25;
      font-weight:500;
    }
    .checked input[type=radio].design+label {
      background:url('/convention/html/bing/images/common/ico_radio02_on.png') no-repeat;
      color:#222222;
      font-weight:300;
    }
    .radio_area+.radio_area {
      margin-left:20px;
    }
  }
  .inputbox__checkbox+.inputbox__checkbox {
    margin-left:40px;;
  }
}

/* pagenation */
.pagenation {
  margin-top:15px;
  text-align:center;
  >a {
    position:relative;
    display:inline-block;
    width:20px;
    height:20px;
    text-indent:-9999em;;
  }
  .first:after {
    position:absolute;
    left:0;
    top:0;
    width:12px;
    height:30px;
    content:'';
    background:url(/images/first.png) center 5px no-repeat;
  }
  .prev:after {
    position:absolute;
    left:0;
    top:0;
    width:12px;
    height:30px;
    content:'';
    background:url(/images/prev.png) center 5px no-repeat;
  }
  .next:after {
    position:absolute;
    left:0;
    top:0;
    width:12px;
    height:30px;
    content:'';
    background:url(/images/next.png) center 5px no-repeat;
  }
  .last:after {
    position:absolute;
    left:0;
    top:0;
    width:12px;
    height:30px;
    content:'';
    background:url(/images/last.png) center 5px no-repeat;
  }
  ol {
    display:inline-block;
    text-align:center;
    li {
      display:inline-block;
      width:30px;
      height:30px;
      a {
        display:block;
        width:100%;
        height:100%;
        line-height:30px;
        color:$pageNumber;
        &.view {
          color:#ffffff;
          background:$leftTitle;
          border-radius:50%;
        }
        &:hover {
          color:$leftTitle;
        }
      }
    }
  }
}

.layerpopup {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  min-width:400px;
  z-index:500;
  background:#ffffff;
  @include boxRound4();
  &__top {
    position:relative;
    width:100%;
    height:40px;
    line-height:39px;
    background:$darkBg;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    h4 {
      text-align:center;
      font-size:16px;
      color:#ffffff;
    }
    .popup__close {
      display:block;
      position:absolute;
      width:12px;
      height:12px;
      right:15px;
      top:14px;
      text-indent:-999em;
      background:url(/images/close.png) center top no-repeat;
      &:after {
        display:block;
        width:12px;
        height:12px;
        content:'';
      }
    }
  }
  &__content {
    padding:20px;
  }
  .item {
    margin-bottom:20px;
  }
  .input__form {
    .form_tit {
      display:block;
      margin-top:10px;
      margin-bottom:5px;
    }
    .bullet:before {
      content:'*';
      display:inline-block;
      margin-right:5px;
      color:#e52121;
      vertical-align:middle;
    }
    input[type='text'],input[type='password'],select {
      padding:0 10px;
      width:100%;
      height:40px;
      border:1px solid #c9cdd3;
      box-sizing:border-box;
      color:#222222;
    }
    input[type='text']:disabled {
      background:#eef3f5;
      color:#bec1c7;
    }
  }
  .input__form.col2 {
    width:calc(50% - 8px);
    margin-right:6px;
    display:inline-block;
    vertical-align:top;
  }
  .etc_inp {
    button+input {
      margin-top:5px;
    }
    input+input {
      margin-top:5px;
    }
    .postnum {
      width:120px !important;
    }
    .search {
      display:inline-block;
      margin-left:5px;;
      height:40px;
      padding:0 10px;
      background:#6e8699;
      color:#ffffff;
    }
  }
  .input__form {
    width:100%;
    display:inline-block;
    position:relative;
  }
  .input__form input[type='checkbox'],.input__form input[type='radio'] {
    position:absolute;
    width:1px;
    height:1px;
    border:0;
    -webkit-appearance:none;
    clip:rect(0,0,0,0);
  }
  .input__form input[type='checkbox']+label {
    display:inline-block;
    height:40px;
    line-height:39px;
    padding:0 0 0 25px;
    margin-right:10px;
    font-size:15px;
    background:url(../images/checkbox.png) no-repeat left center;
    cursor:pointer;
  }
  .input__form input[type='checkbox']:checked+label {
    background:url(../images/checkbox_on.png) no-repeat left center;
  }
  .input__form input[type='radio']+label {
    display:inline-block;
    height:40px;
    line-height:39px;
    padding:0 0 0 25px;
    margin-right:10px;
    font-size:15px;
    background:url(../images/radio.png) no-repeat left center;
    cursor:pointer;
  }
  .input__form input[type='radio']:checked+label {
    background:url(../images/radio_on.png) no-repeat left center;
  }
  .input__form input[type='text'],.input__form input[type='password'] {
    height:40px;
    line-height:26px;
    padding:0 3px;
    font-size:15px;
    color:#333333;
  }
  .input__form input[type='text'] {
    width:100%;
  }
  .input__form select {
    width:100%;
    min-width:120px;
    height:40px;
    margin:0;
    padding:5px 25px 6px 10px;
    border:1px solid #c9cdd3;
    background:url(../images/select_bg.gif) 100% 50% no-repeat;
    background-color:#ffffff;
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    appearance:none;
    word-wrap:break-word;
    z-index:10;
  }
  .input__form select::-ms-expand {
    display:none;
  } /* ie 기본 화살표 없앰 */
  .input__form.list {
    background:#ffffff;
    border:1px solid #c9cdd3;
    padding:0px;
    margin-top:10px;
    height:120px;
    overflow-y:scroll;
    h5 {
      background:#e7ecf0;
      padding:10px;
      color:#6e8699;
      font-size:15px;
    }
    ul {
      padding:0 10px;
      li {
        overflow:hidden;
        width:100%;
        padding:5px 10px;
        border-bottom:1px solid #eef3f5;
        font-size:13px;
        color:#6e8699;
        dt {
          width:100px;
          float:left;
          margin-right:15px;
          font-weight:700;
        }
        dd {
          float:left;
          width:calc(100% - 115px);
          line-height:130%;
        }
      }
    }
  }
}
.layerpopup.style1 {
  width:600px;
  background:#f9fbfc;
}
.layerpopup.style2 {
  width:450px;
  background:#f9fbfc;
  .input__form {
    width:100%;
  }
}
.mask {
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:#000000;
  opacity:0.2;
  z-index:199;
}


.right {
  .item {
    margin-bottom:20px;
  }
  .input__form {
    .form_tit {
      display:block;
      margin-top:10px;
      margin-bottom:5px;
    }
    .bullet:before {
      content:'*';
      display:inline-block;
      margin-right:5px;
      color:#e52121;
      vertical-align:middle;
    }
    input[type='text'],input[type='password'],select {
      padding:0 10px;
      width:100%;
      height:40px;
      border:1px solid #c9cdd3;
      box-sizing:border-box;
      color:#222222;
    }
    input[type='text']:disabled {
      background:#eef3f5;
      color:#bec1c7;
    }
  }
  .input__form.col2 {
    width:calc(50% - 8px);
    margin-right:6px;
    display:inline-block;
  }
  .input__form.col3 {
    width:calc(25% - 8px);
    margin-right:6px;
    display:inline-block;
  }
  .input__form.col4 {
    width:calc(24% - 8px);
    margin-right:6px;
    display:inline-block;
  }
  .etc_inp {
    button+input {
      margin-top:5px;
    }
    input+input {
      margin-top:5px;
    }
    .postnum {
      width:120px !important;
    }
    .search {
      display:inline-block;
      margin-left:5px;;
      height:40px;
      padding:0 10px;
      background:$leftSelect;
      color:#ffffff;
    }
  }
  .input__form {
    display:inline-block;
    position:relative;
  }
  .input__form input[type='checkbox'],.input__form input[type='radio'] {
    position:absolute;
    width:1px;
    height:1px;
    border:0;
    -webkit-appearance:none;
    clip:rect(0,0,0,0);
  }
  .input__form input[type='checkbox']+label {
    display:inline-block;
    height:40px;
    line-height:39px;
    padding:0 0 0 25px;
    font-size:15px;
    background:url(../images/checkbox.png) no-repeat left center;
    cursor:pointer;
  }
  .input__form input[type='checkbox']:checked+label {
    background:url(../images/checkbox_on.png) no-repeat left center;
  }
  .input__form input[type='radio']+label {
    display:inline-block;
    height:40px;
    line-height:21px;
    padding:0 0 0 25px;
    font-size:15px;
    background:url(../images/radio.png) no-repeat left center;
    cursor:pointer;
  }
  .input__form input[type='radio']:checked+label {
    background:url(../images/radio_on.png) no-repeat left center;
  }
  .input__form input[type='text'],.input__form input[type='password'] {
    height:40px;
    line-height:26px;
    padding:0 3px;
    font-size:15px;
    color:#333333;
  }
  .input__form input[type='text'] {
    width:100%;
  }
  .input__form select {
    width:100%;
    min-width:120px;
    height:40px;
    margin:0;
    padding:5px 25px 6px 10px;
    border:1px solid #c9cdd3;
    background:url(../images/select_bg.gif) 100% 50% no-repeat;
    background-color:#ffffff;
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    appearance:none;
    word-wrap:break-word;
    z-index:10;
  }
  .input__form select::-ms-expand {
    display:none;
  }
  .item.searchbox {
    .input__form+.input__form {
      margin-left:20px;
    }
    .input__form .form_tit {
      display:inline-block;
      margin-right:10px;
      font-weight:700;
    }
    .input__form input[type='text'] {
      width:240px;
    }
    .input__form select {
      width:240px;
    }
    .btn__search {
      display:inline-block;
      min-width:80px;
      height:40px;
      line-height:39px;
      text-align:center;
      color:#ffffff;
      background:$primaryColor;
    }
    .input__form+.btn__search {
      margin-left:8px;
    }
  }
}
